{{- if .Values.transcrobes.enabled -}}
{{- $fullName := include "transcrobes.transcrobes.fullname" . -}}
{{- $servicePort := .Values.transcrobes.service.servicePort -}}
{{- $asgiSvcPort := .Values.asgi.service.servicePort -}}
{{- $reallyFullName := include "transcrobes.transcrobes.reallyFullname" . -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
  name: {{ include "transcrobes.transcrobes.fullname" . }}
  labels:
    {{- include "transcrobes.transcrobes.labels" . | nindent 4 }}

spec:
{{- if .Values.transcrobes.ingress.tls.enabled }}
  tls:
    - hosts:
        - {{ .Values.transcrobes.haHost }}
      {{- range .Values.transcrobes.nodeHosts }}
        - {{ . }}
      {{- end }}
      secretName: {{ .Values.transcrobes.ingress.tls.secretName }}
{{- end }}
  rules:
    - host: {{ .Values.transcrobes.haHost }}
      http:
        paths:
          - path: /subscriptions
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}-asgi
                port:
                  number: {{ $asgiSvcPort }}
          - path: /api/graphql
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}-asgi
                port:
                  number: {{ $asgiSvcPort }}
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: {{ $servicePort }}
  {{- range .Values.transcrobes.nodeHosts }}
    - host: {{ . }}
      http:
        paths:
          - path: /subscriptions
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}-asgi
                port:
                  number: {{ $asgiSvcPort }}
          - path: /api/graphql
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}-asgi
                port:
                  number: {{ $asgiSvcPort }}
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ $fullName }}
                port:
                  number: {{ $servicePort }}
  {{- end }}
{{- end }}
